@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Nujabes Discography</h1>
<p>Nujabes released 3 studio albums in addition to multiple complilation albums, colabs with amazing artist (most notably Shing02 on their Luv(Sic) collection) and 3 official mixtapes. Nujabes is also credited with producing much of the famous Samurai Champloo Soundtrack. </p>

<h2> Studio Albums</h2>
<div>
    <ul>
        <li>2003: Metaphorical Music</li>
        <img src="images/metaphorialMusic.jpg" alt="" />

        <li>2005: Modal Soul</li>
        <img src="images/modalSoul.jpg" alt="" />

        <li>2011: Spiritual State</li>
        <img src="images/SpiritualState.jpg" alt="" />


    </ul>
</div>

<h2> Soundtrack Albums</h2>
<div>
    <ul>
        <li>2004: Samurai Champloo Music Record: Departure</li>
        <img src="images/Departure.jpg" alt="" />

        <li>2004: Samurai Champloo Music Record: Impression</li>
        <img src="images/Impression.jpg" alt="" />

    </ul>
</div>

<h2> Official Mixtapes</h2>
<div>
    <ul>
        <li>1998: Sweet Sticky Thing</li>
        <li>2002: Good Music Cuisine - Ristorante Nujabes</li>
        <li>2003: Tribe Sampler Vol. 1</li>

    </ul>
</div>