@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>History Page</h1>
<p> "Jun Seba (Japanese: 瀬葉 淳, Hepburn: Seba Jun, February 7, 1974 – February 26, 2010), better known by his stage name Nujabes (ヌジャベス, Nujabesu), was a Japanese record producer, audio engineer, DJ, composer and arranger best known for his atmospheric instrumental mixes sampling from hip hop, soul, and jazz, as well as incorporating elements of trip hop, breakbeat, downtempo, and ambient music."</p>
<br/>
<br/>

<p>
    Seba released two studio albums during his lifetime: Metaphorical Music (2003) and Modal Soul (2005), while the album Spiritual State was released posthumously in 2011. He was the founder of the independent label Hydeout Productions and released two collection compilations: Hydeout Productions 1st Collection (2003) and 2nd Collection (2007). Additionally, Seba collaborated on the soundtrack for Shinichirō Watanabe's anime series Samurai Champloo (Music Record: Departure and Impression) in 2004.

    In 2010, Seba died in a traffic collision at the age of 36. Although relatively niche during his lifetime, Seba has since achieved posthumous acclaim and been referred as the "godfather" of lo-fi hip hop. Seba's production techniques and career have also been compared favorably with J Dilla.
</p>