@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nujabes</h1>
    <p>Welcome to the fan site for the late and great - Nujabes</p>


</div>

<br>
<br>

<h2>Links</h2>
<ul>
    <li><a href="/Home/History"</a>History Link</li>
    <li><a href="/Home/Stories"</a>Stories Link</li>
    <li><a href="/YourChoice"</a>Your Choice Link</li>
    <li><a href="/Sources"</a>Sources</li>
</ul>

