@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nujabes</h1>
    <p>Welcome to the fan site for the late and great - Nujabes</p>

    <img src="images/Nujabes.jpg" alt="" />
</div>

<br>
<br>

<!--
    <nav class="navbar nav-default">
    <div class="text-center">
        <a href="/Home/History">
            <img src="images/history.png" alt="" width="125px" height="125px>
            <figcaption>History</figcaption>
        </a>

        <a href="/Stories">
            <img src="images/stories.png" alt="" width="125px" height="125px>

        </a>

        <a href="/Discography">
            <img src="images/record.png" alt="" width="125px" height="125px">

        </a>

        <a href="/Sources">
            <img src="images/sources.png" alt="" width="125px" height="125px">

        </a>

        <a href="/Quiz">
            <img src="images/quiz.png" alt="" width="125px" height="125px">

        </a>
    </div>


</nav>
-->



<h2>Links</h2> 
<ul>
    <li><a href="/Home/History">History Link</a></li>
    <li><a href="/Stories">Stories Link</a></li>
    <li><a href="/Discography">Discography Link</a></li>
    <li><a href="/Sources">Sources</a></li>
    <li><a href="/Home/Quiz">Quiz Link</a></li>
</ul>


