@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nujabes</h1>
    <p>Welcome to the fan site for the late and great - Nujabes</p>


</div>

<br>
<br>

<h2>Links</h2> 
<ul>
    <li><a href="/Home/History">History Link</a></li>
    <li><a href="/Stories">Stories Link</a></li>
    <li><a href="/YourChoice">Your Choice Link</a></li>
    <li><a href="/Sources">Sources</a></li>
</ul>

